.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: green;
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}
